{% extends 'master/base.html' %}

{% block blockname %}
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Username: {{ request.user }}</button>
    <button type="button" class="btn btn-secondary">User Type: {{ request.user.user_type }}</button>
    <button type="button" class="btn btn-secondary">Full Name: {{ request.user.full_name }}</button>
  </div>

  {% if request.user.user_type == 'Admin' %}
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="{% url 'add_department' %}"><button type="button" class="btn btn-primary">Add Department</button></a>
    </div>
  {% endif %}

  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'department_list' %}"><button type="button" class="btn btn-info">Return Doctor List</button></a>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">created_at</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ form_data.name }}</td>
        <td>{{ form_data.description }}</td>
        <td>{{ form_data.created_at }}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">specialization</th>
        <th scope="col">Department</th>
        <th scope="col">Joining Date</th>
      </tr>
    </thead>
    <tbody>
      {% for x in all_doctor %}
        {% if x.department == form_data %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ x.name }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.phone }}</td>
            <td>{{ x.specialization }}</td>
            <td>{{ x.department }}</td>
            <td>{{ x.joining_date }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
