{% extends 'master/base.html' %}

{% block blockname %}
  <div class="my-2">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Username: {{ request.user }}</button>
      <button type="button" class="btn btn-secondary">User Type: {{ request.user.user_type }}</button>
      <button type="button" class="btn btn-secondary">Full Name: {{ request.user.full_name }}</button>
    </div>

    {% if request.user.user_type == 'Patient' %}

    {% else %}
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'add_doctor' %}"><button type="button" class="btn btn-primary">Add Doctor</button></a>
      </div>
    {% endif %}
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">specialization</th>
        <th scope="col">Department</th>
        <th scope="col">Joining Date</th>

        {% if request.user.user_type == 'Patient' %}

        {% else %}
          <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for x in form_data %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>
            <div>
              <span>{{ x.name }}</span> <span><a href="{% url 'view_doctor' x.id %}"><button type="button" class="btn btn-outline-primary btn-sm">View Paitents</button></a></span>
            </div>
          </td>
          <td>{{ x.email }}</td>
          <td>{{ x.phone }}</td>
          <td>{{ x.specialization }}</td>
          <td>{{ x.department }}</td>
          <td>{{ x.joining_date }}</td>

          {% if request.user.user_type == 'Patient' %}

          {% else %}
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{% url 'edit_doctor' x.id %}"><button type="button" class="btn btn-info">Edit</button></a>
                <a href="{% url 'delete_doctor' x.id %}"><button type="button" class="btn btn-secondary">Delete</button></a>
                <a href="{% url 'view_doctor' x.id %}"><button type="button" class="btn btn-primary">View</button></a>
              </div>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
